* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.25;
}

:root {
  --primary-white-color: #ffff;
  --primary-text-color: #212121;
  --active-color: #2196f3;
  --description-color: #757575;
  --section-bg-color: #2f303a;
  --footer-bg-color: #2f303a;
  --adress-color: rgba(255, 255, 255, 0.6);
  --portfolio-button-color: #f5f4fa;
  --portfolio-feader-border: #ECECEC;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 518px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_list {
  width: 294px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_contact {
  width: 307px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--active-color);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
}

.logo-dark {
  color: var(--primary-text-color);
}

.navigation__list-link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.navigation_list-item::first-letter {
  text-transform: uppercase;
}

.navigation__list-link:hover,
.navigation__list-link:focus {
  color: var(--active-color);
}

.contact__list-link {
  color: var(--description-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contact__list-link:hover,
.contact__list-link:focus {
  color: var(--active-color);
}

.bussines {
  background-color: var(--section-bg-color);
}

.bussines {
  height: 600px;
  text-align: center;
  padding-top: 200px;
  /* margin-bottom: 96px; */
}

.doing {
  padding-top: 94px;
}

.bussines-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  width: 696px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0 auto;
  margin-bottom: 40px;
}

.bussines-button {
  background-color: var(--active-color);
  color: var(--primary-white-color);
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

/* .doing {
  margin-bottom: 96px;
} */

.doing_title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.doing_list {
  display: flex;
  justify-content: space-between;
}

.doing_list-item {
  height: 101px;
  width: 260px;
}

.doing_discription {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: var(--description-color);
}

.whatwedoing {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works {
  width: 376px;
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
  margin: 0 auto;
  margin-bottom: 50px;
}

.works__list {
  display: flex;
  justify-content: space-between;
}

.team {
  padding-top: 94px;
  /* margin-bottom: 94px; */
}

.team-title {
  height: 42px;
  width: 264px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
  margin: 0 auto;
  margin-bottom: 50px;
}

.team_list {
  display: flex;
  justify-content: space-between;
}

.team_list-item {
  width: 270px;
  height: 368px;
}

.person_info {
  margin-top: 30px;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--description-color);
}

.footer {
  padding-top: 60px;
  height: 256px;
  background-color: var(--footer-bg-color);
}

/* .footer-logo {
  color: var(--active-color);
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
} */

.logo-white {
  color: var(--primary-white-color);
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  color: var(--primary-white-color);
  /* font-style: normal; */
  line-height: 1.17;
  margin-top: 20px;
}

.footer-email {
  margin-bottom: 9px;
}
.footer-adress {
  margin-bottom: 9px;
}

.footer-email,
.footer-phone {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  /* font-style: normal; */
  line-height: 1.17;
  color: var(--adress-color);
}

/* {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  font-style: normal;
  line-height: 1.17;
  color: var(--adress-color);
} */

/* Portfolio */

.portfolio-header {
  border-bottom: 1px solid;
  border-color: var(--portfolio-feader-border);
}


.portfolio-section {
  padding-bottom: 94px;
}

.title_list {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
  padding-top: 100px; 
}



.title_list-button {
  width: 145px;
  height: 38px;
  background: var(--portfolio-button-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-text-color);
  border: none;
  cursor: pointer;
}

.title_list-item:not(:last-child){
  margin-right: 8px;
}


.servises_list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.servises_list-item {
  width: 370px;
  height: 404px;
  margin-bottom: 30px;
}

.servises__list-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--primary-text-color);
}

.servises__title-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--description-color);
}

.title_list-button:hover,
.title_list-button:focus {
  background-color: var(--active-color);
  color: var(--primary-white-color);
}
